<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('./partials/link.ejs') %>
    <title>Minima Records | Your Cart</title>
</head>

<body class="flex-wrapper">
  <%- include('./partials/header_customer.ejs') %>
    <main>
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-8">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Subtotal</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% var total=35 ;if (cart.length> 0) { ; cart.forEach(item=> { %>
                  <tr>
                    <td class="align-middle">
                      <%= item.product_name %>
                    </td>
                    <td class="align-middle">
                      <%= item.quantity %>
                    </td>
                    <td class="align-middle">
                      <%= parseFloat(item.quantity) * parseFloat(item.product_price) %>
                    </td>
                    <td class="align-middle">
                      <a href="/removeItem/<%=item.product_id%>">
                        <button type="button" class="btn btn btn-outline-danger btn-sm">
                          Remove
                        </button>
                      </a>
                    </td>
                  </tr>
                  <% total +=parseFloat(item.quantity) * parseFloat(item.product_price) }) %>
                    <% } else { %>
                      <tr>
                        <td colspan="4" align="center">
                          No Item Found in Cart
                        </td>
                      </tr>
                      <% } total=Number((total).toFixed(2)) %>
              </tbody>
            </table>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Your purchase</h5>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Subtotal</td>
                      <% if (cart.length) { %>
                        <td>$ <%= Number((total-35).toFixed(2)) %>
                        </td>
                        <% } else {%>
                          <td>$ 0.00</td>
                          <% } %>
                    </tr>
                    <tr>
                      <td>Shipping fee</td>

                      <td>$ 35.00</td>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <% if (cart.length) { %>
                        <td>$ <%= total %>
                        </td>
                        <% } else { %>
                          <td>$ 0.00</td>
                          <% } %>
                    </tr>
                  </tbody>
                </table>

                <% if (cart.length) { %>
                  <select name="distributionHub" id="distributionHub" class="form-select"
                    aria-label="Assigned Distribution Hub" required>
                    <option selected value="Hanoi">Hanoi</option>
                    <option value="Ho Chi Minh">Ho Chi Minh</option>
                    <option value="Da Nang">Da Nang</option>
                  </select>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-dark mt-3">Order</button>
                  </div>

                  <% } else { %>
                    <select name="distributionHub" id="distributionHub" class="form-select"
                      aria-label="Assigned Distribution Hub" required>
                      <option selected value="Hanoi">Hanoi</option>
                      <option value="Ho Chi Minh">Ho Chi Minh</option>
                      <option value="Da Nang">Da Nang</option>
                    </select>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-dark mt-3" disabled>
                        Order
                      </button>
                    </div>
                    <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>