<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <title>Minima Records | Products</title>
  </head>

  <body>
    <%- include('./partials/header_customer.ejs') %>
    <main>
      <section class="container text-center">
        <div class="container text-center text-lg-start my-5">
          <h1 class="display-2">Products</h1>
          <p class="lead">Take a look at all of our offers</p>
          <form
            class="form-inline d-flex"
            type="search"
            placeholder="Search"
          >
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-dark rounded-pill my-2 my-sm-0"
              type="submit"
            >
              Search
            </button>
          </form>
          <div
            class="accordion mt-4"
            id="filter"
          >
            <div class="accordion-item">
              <h2
                class="accordion-header"
                id="filterByPrice"
              >
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#filterPrice"
                  aria-expanded="false"
                  aria-controls="filterPrice"
                >
                  Filter by Price
                </button>
              </h2>
              <div
                id="filterPrice"
                class="accordion-collapse collapse"
                aria-labelledby="filterPrice"
                data-bs-parent="#filter"
              >
                <div class="accordion-body">
                  <form>
                    <div class="form-group text-start mb-3">
                      <label for="minPrice">Minimum Price</label>
                      <input
                        type="text"
                        class="form-control"
                        id="minPrice"
                        aria-describedby="minPrice"
                        placeholder="Enter here"
                      />
                    </div>
                    <div class="form-group text-start">
                      <label for="maxPrice">Maximum Price</label>
                      <input
                        type="text"
                        class="form-control"
                        id="maxPrice"
                        aria-describedby="maxPrice"
                        placeholder="Enter here"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container mb-5">
        <div class="row justify-content-start g-3">
          <% products.forEach(product => { %>
          <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
            <div class="card px-3">
              <a href="/productDetailPage/<%= product._id %>">
                <img
                  src="/images/<%= product.image %>"
                  alt="<%= product.name %>"
                  class="ratio ratio-1x1"
                />
              </a>
              <div class="card-body text-center">
                <h4 class="card-title overflow-hidden"><%= product.name %></h4>
                <p class="lead card-subtitle"><%= product.artistName %></p>
                <p class="display-5 my-4 text-muted fw-bold">$<%= product.price %></p>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2 rounded-pill"
                  >Add to Cart</a
                >
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
