<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <title>Minima Records</title>
  </head>

  <body class="flex-wrapper">
    <!-- navbar -->
    <%- include('partials/header_home') %>
    <main>
      <section id="intro">
        <div class="container my-5 px-5">
          <div class="row justify-content-center align-items-center">
            <!-- hero region -->
            <div class="col-md-6 text-center text-md-start">
              <h2 class="display-3">All of Your Favourite Vinyls, All At One Place</h2>
              <p class="lead text-secondary">The biggest market for the best quality music.</p>
              <a
                href="/login"
                class="btn btn-dark btn-lg"
                >Shop Now</a
              >
            </div>
            <!-- main image -->
            <img
              src="./images/vulfpeck.webp"
              alt="the band Vulfpeck's Vinyl print of their album 'The Beautiful Game' with Jack Stratton as a soccer player."
              class="col-md-6 d-none d-md-block"
            />
          </div>
        </div>
      </section>

      <section
        id="bestsellers"
        class="bg-dark mt-5 p-5"
      >
        <div class="container-lg">
          <!-- heading -->
          <div class="text-center">
            <h2 class="text-light">Recents</h2>
            <p class="lead text-light">
              Take a look at some of the recents discoveries in our store
            </p>
          </div>
          <!-- carousel -->
          <div
            id="carousel"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row align-items-center justify-content-center">
                  <div class="col-9 col-lg-6 col-xl-4">
                    <div class="card border-0 px-3">
                      <img
                        src="/images/<%= products[products.length-1].image %>"
                        alt="<%= products[products.length-1].name %> Album Cover"
                      />
                      <div class="card-body text-center">
                        <h4 class="card-title"><%= products[products.length-1].name %></h4>
                        <p class="lead card-subtitle">
                          <%= products[products.length-1].artistName %>
                        </p>
                        <p class="display-5 my-4 text-muted fw-bold">
                          $<%= products[products.length-1].price %>
                        </p>
                        <p class="card-text text-secondary d-none d-lg-block">
                          <%= products[products.length-1].description %>
                        </p>
                        <a
                          href="/login"
                          class="btn btn-outline-dark btn-lg my-2"
                          >Buy Now</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% for( let index = products.length-2; index > products.length-6; index-- ) { %>
              <div class="carousel-item">
                <div class="row align-items-center justify-content-center">
                  <div class="col-9 col-lg-6 col-xl-4">
                    <div class="card border-0 px-3">
                      <img
                        src="/images/<%= products[index].image %>"
                        alt="<%= products[index].name %> Album Cover"
                      />
                      <div class="card-body text-center">
                        <h4 class="card-title"><%= products[index].name %></h4>
                        <p class="lead card-subtitle"><%= products[index].artistName %></p>
                        <p class="display-5 my-4 text-muted fw-bold">
                          $<%= products[index].price %>
                        </p>
                        <p class="card-text text-secondary d-none d-lg-block">
                          <%= products[index].description %>
                        </p>
                        <a
                          href="/login"
                          class="btn btn-outline-dark btn-lg my-2"
                          >Buy Now</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
            <!-- prev and next buttons -->
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carousel"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>

      <section id="reviews">
        <div class="container-lg my-5">
          <div class="text-center">
            <h2>Reviews</h2>
            <p class="lead">Hear what some of our customers has to say</p>
          </div>

          <!-- reviews -->
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="list-group">
                <div class="list-group-item py-3">
                  <div class="mb-2">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                  <h5 class="mb-1">A must for vinyl lovers!</h5>
                  <p class="mb-1">
                    This is definitely a must for vinyl lovers! I have been struggling to find a lot
                    of the older vinyls for my grandpa, and this website has made it a million times
                    easier! It is great to have a website that is dedicated to this.
                  </p>
                </div>
                <div class="list-group-item py-3">
                  <div class="mb-2">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                  </div>
                  <h5 class="mb-1">Great collection!</h5>
                  <p class="mb-1">
                    I really love the great collection of vinyls that is available here! This
                    e-commerce website has made it really easy for us collectors to further enhance
                    our collection. I will be buying for a long time!
                  </p>
                </div>
                <div class="list-group-item py-3">
                  <div class="mb-2">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                  <h5 class="mb-1">Love the system!</h5>
                  <p class="mb-1">
                    I really love the straightforward, minimalistic approach that the team has gone
                    for here. Even the process seems to be very straightforward as well. I received
                    my vinyl in great condition within 3 days, so that has to be a 5-star review!
                  </p>
                </div>
                <div class="list-group-item py-3">
                  <div class="mb-2">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                  </div>
                  <h5 class="mb-1">Great customer service!</h5>
                  <p class="mb-1">
                    My vinyl unfortunately arrived damaged beyond repair. However, I contacted the
                    customer service team and they were being very helpful! Aside from some proof
                    gathering and checking with the shipper, the process went very smooth and I
                    received another copy later in the week.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Footer  -->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
