<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <script
      defer
      src="js/vendorViewProducts.js"
    ></script>
    <script
      defer
      src="js/footer.js"
    ></script>
    <title>Minima Records | Your Products</title>
  </head>

  <body>
    <%- include('./partials/header_vendor.ejs') %>
    <main>
      <section id="hero">
        <div class="container text-center text-lg-start my-5">
          <h1 class="display-2">Your Products</h1>
          <p class="lead">Take a look at your uploaded products here</p>
        </div>
        <div class="container">
          <button
            type="button"
            class="btn btn-outline-dark mb-2"
            data-bs-toggle="modal"
            data-bs-target="#static"
          >
            Add a new product
          </button>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col"></th>
                <th scope="col">Record Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Price $</th>
                <th scope="col">Actions</th>
              </tr>
              <% products.slice().reverse().forEach(function(product, i) { %>
              <tr>
                <td class="align-middle"><%= i+1 %></td>
                <td class="align-middle">
                  <img
                    src="/images/<%= product.image %>"
                    alt=""
                    height="50px"
                  />
                </td>
                <td class="align-middle"><%= product.name %></td>
                <td class="align-middle"><%= product.artistName %></td>
                <td class="align-middle"><%= product.price %> $</td>
                <td class="align-middle">
                  <a
                    class="link-secondary"
                    href=""
                    ><i class="bi bi-pencil-square mx-2"></i></a
                  ><a
                    class="link-secondary"
                    href=""
                    ><i class="bi bi-trash3-fill mx-2"></i
                  ></a>
                </td>
              </tr>
              <% }) %>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <!-- <div class="alert alert-dismissable fade show alert-success" role="alert">

          <strong>
            Product added successfully!
          </strong>
          <button class="btn-close" type="button"></button>
        </div> -->
        <div
          class="modal fade"
          id="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5
                  class="modal-title"
                  id="staticBackdropLabel"
                >
                  New Product
                </h5>
              </div>
              <form
                class="mx-auto"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="form-group mt-3 mb-3">
                  <label for="name">The title of your record</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    placeholder="Enter here"
                    required
                  />
                  <div class="name_error text-danger"></div>
                </div>
                <div class="form-group mb-3">
                  <label for="artistName">The artists' name(s)</label>
                  <input
                    type="text"
                    class="form-control"
                    name="artistName"
                    id="artistName"
                    placeholder="Enter here"
                    required
                  />
                  <div class="artistName_error text-danger"></div>
                </div>

                <div class="form-group mb-3">
                  <label for="description">Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    name="description"
                    id="description"
                    placeholder="Enter here"
                    required
                    rows="3"
                  ></textarea>
                  <div class="description_error text-danger"></div>
                </div>
                <div class="form-group mb-3">
                  <label for="price">Price</label>
                  <input
                    type="price"
                    class="form-control"
                    name="price"
                    id="price"
                    placeholder="Enter here (in dollars)"
                    required
                  />
                  <div class="price_error text-danger"></div>
                </div>
                <div class="mb-3">
                  <label
                    for="image"
                    class="form-label"
                    >The record's image</label
                  >
                  <input
                    class="form-control"
                    name="image"
                    type="file"
                    id="image"
                  />
                  <div class="image_error text-danger"></div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button
                    type="submit"
                    class="btn btn-dark"
                  >
                    Confirm
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
